<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager</title>
</head>
<body>
<form method="post" action="/manager">
    <label for="movieid">movieid</label>
    <input type="text" id="movieid" name="movieid" placeholder="Enter movie Id">
    <lable for="movie_name">movie_name</lable>
    <input type="text" id="movie_name" name="movie_name" placeholder="Enter movie name">
    <lable for="price">price</lable>
    <input type="text" id="price" name="price" placeholder="Enter price">
    <label for="start_time">start_time</label>:
    <input type="datetime-local" id="start_time" name="start_time"><br>
    <lable for="end_time">end_time</lable>:
    <input type="datetime-local" id="end_time" name="end_time"><br>

</form>
</body>
</html>