<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body style="text-align: center;">
    <small style="color:aliceblue;">
        <%=alert%>
      </small>
    <h1>Movies</h1>
    <form method="post" action="/movies">
        <lable for="movieid">movieid</lable>:
        <input type="number" id="movieid" name="movieid" placeholder="Enter movieid"><br>
        <small id="m5" style="color: red;"></small>
        <label for="moviename">moviename</label>:
        <input type="text" id="moviename" name="moviename" placeholder="Enter moviename"><br>
        <small id="a2" style="color: red;"></small>
        <br>
        <lable for="language">language</lable>:
        <input type="text" id="language" name="language"><br>
        <small id="m4" style="color:red;"></small>
        <br>
        <label for="start_time">start_time</label>:
        <input type="datetime-local" id="start_time" name="start_time"><br>
        <small id="m2" style="color:red;"></small>
        <lable for="end_time">end_time</lable>:
        <input type="datetime-local" id="end_time" name="end_time"><br>
        <small id="m3" style="color:red;"></small> 
        <button type="submit" id="submit" value="sbt">click</button>
        <br>
    </form>
</body>
<script>
    let movies = "<%-alert%>";
    if(movies == "a1") {
        document.getElementById('a1').innerHTML = "movies added succesfully";
    }else if(movies == "m1") {
        document.getElementById('m1').innerHTML = "please enter end_time";
    }else if(movies == "m2") {
        document.getElementById('m2').innerHTML = "please enter start_time";
    }else if(movies == "m3") {
        document.getElementById('m3').innerHTML = "please enter language";
    }else if(movies == "m4") {
        document.getElementById('m4').innerHTML = "please enter movie name";
    }else if(movies == "m5"){
        document.getElementById('m5').innerHTML = "please enter movie id";
    }

</script>
</html>