<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup Form</h1>
    <form method="post" action="/signup">
        <lable for="name">Name</lable> :
        <input type="text" id="fnam" name="Username"><br>
        <label for="name">Password</label> :
        <input type="text" id="password" name="Password"><br>
        <label for="name">confirmpassword</label>:
        <input type="text" id="confirmpassword" name="confirmpassword"><br>
        <lable for="email">Email</lable> :
        <input type="text" id="mail" name="Email"><br>
        <button type="Submit" id="submit" value="sbt">click</button>
        <br>
    </form>
</body>
</html>