<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theater</title>
</head>
<body>
  <small style="color:aliceblue;">
    <%=alert1%>
  </small>
    <h1 style="text-align: center;">Theater</h1><br>
    <form method="post" action="/theater">
      <div style="text-align: center;">  
        <label for="H">Hallid</label><br>
        <input type="text" id="Hallid" name="H" placeholder="Enter Hallid type"><br>
        <small id="m1" style="color:red;"></small>
        <br>
        <label for="Class">Class type</label><br>
        <input type="text" id="Class" name="Class" placeholder="Enter Class type"><br>
        <small id="m2" style="color: red;"></small>
        <br>
        <label for="number of Seats">number of Seats</label><br>
        <input type="number" id="Seats" name="Seats" placeholder="Enter no of Seats"><br>
        <small id="m3" style="color: red;"></small>
        <br>
        <button type="Submit">Enter</button>
      </div> 
    </form>
</body>
<script>
  let theater = "<%-alert1%>";
  if(theater == "s1") {
    document.getElementById('s1').innerHTML = "details stored sucessfully";
  } else if(theater == "e1") {
    document.getElementById('m1').innerHTML = "please enter no.of.seats";
  }else if(theater == "e2") {
    document.getElementById('m2').innerHTML = "please enter class_type";
  }else if(theater == "e3") {
    document.getElementById('m3').innerHTML = "please enter hall_id";
  }
</script>
</html>